# R for travis: see documentation at https://docs.travis-ci.com/user/languages/r

language: R
sudo: true
cache: packages

repos:
  CRAN: https://cran.rstudio.com

# r_packages:
#  - covr
#  - hash
#  - doMC
#  - xts
#  - Rcpp
#  - stringr
#  - xlsx
#  - tis

before_install:
  - sudo apt-get -qq update
  - sudo apt-get install --force-yes libxml2-dev tk8.5
  # for tcl/tk support on travis: https://github.com/travis-ci/travis-ci/issues/6987
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start


r_github_packages:
  - jimhester/covr
  - rstudio/packrat

after_success:
  - Rscript -e 'packrat::restore()'
  - Rscript -e 'devtools::test()'
#  - Rscript -e 'covr::codecov(line_exclusions=file.path("packrat", list.files(path="packrat", recursive=T)))'