export(.basename)
export(.containsString)
export(.randomString)
export(Cluster)
export(NOTIFY)
export(combine2)
export(flypwd)
export(ini_parse)
export(is.darwin)
export(is.jenkins)
export(is.windows)
export(notify)
export(readLines)
export(setOption)
export(slice)
export(tempdir)
export(unfold)
export(whoami)
export(workDir)
exportClasses(Cluster)
import(XML)
import(parallel)
import(testthat)
